//--前缀
prefix(prop, args) {
  -ms-{prop} args
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args
}

//--通用
b-box-shadow() {
  prefix('box-shadow', arguments);
}

b-border-radius() {
  prefix('border-radius', arguments);
}

b-box-sizing() {
  prefix('box-sizing', arguments);
}

b-transform() {
  prefix('transform', arguments);
}

b-transform-origin() {
  prefix('transform-origin', arguments);
}

b-transition() {
  prefix('transition', arguments);
}

b-word-hidden() {
  overflow hidden;
  text-overflow ellipsis;
  white-space nowrap;
}

b-animation() {
  prefix('animation', arguments);
}
