<div class="button-box" v-cloak>
    <h1>Radio Button</h1>
    <p><span class="point-text"> input </span>标签与<span class="point-text"> label </span>标签一起使用。在<span class="point-text"> label </span>标签上设置<span class="point-text"> class="radio" </span>, 即可实现单选按钮效果。</p>
    <p>如需将单选按钮设为不可用状态, 只需增设<span class="point-text"> .disable-radio </span>即可。</p>
    <p><span class="point-text"> .disable-radio </span>也可以单独使用。</p>
    <h4>代码示例:</h4>
    <div class="code">
        <div class="examples">
            <span class="d">&lt;label</span> <span class="cn">for=</span><span class="cv">"radio-1"</span> <span class="cn">class=</span><span class="cv">"radio"</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="d">&lt;input</span> <span class="cn">type=</span><span class="cv">"radio"</span>  <span class="cn">id=</span><span class="cv">"radio-1"</span> <span class="cn">name=</span><span class="cv">"type"</span>&gt;<br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="d">&lt;i&gt;</span><span class="d">&lt;/i&gt;</span><br>
            &nbsp;&nbsp;&nbsp;&nbsp;<span class="d">&lt;span&gt;</span><span class="v">SPCC/DC01</span><span class="d">&lt;/span&gt;</span><br>
            <span class="d">&lt;/label&gt;</span>
        </div>
    </div>
    <h4>效果图:</h4>
    <div class="examples">
        <div class="radio-widgets">
            <label for="radio-1" class="radio">
                <input type="radio" id="radio-1" name="type">
                <i></i>
                <span>SPCC/DC01</span>
            </label>
            <label for="radio-2" class="radio">
                <input type="radio" id="radio-2" name="type">
                <i></i>
                <span>SPCC/DC02</span>
            </label>
            <label for="disable-radio" class="disable-radio">
                <input type="radio" id="disable-radio">
                <i></i>
                <span>SPCC/DC01</span>
            </label>
        </div>
    </div>
</div>


