iStyles() {
  position absolute;
  width 12px;
  height 12px;
  top 50%;
  margin-top -6px;
  left 0;
  background-color $color-white;
  border 1px solid $color-C5;
  b-box-sizing(border-box);
}

iCheckStyles() {
  background-color $color-base;
  border-color $color-base;
  background-image url("../css/widget/img/icon.png");
  background-repeat no-repeat;
  background-position 0 0;
  background-origin content-box;
  padding 2px 1px;
}

.checkbox {
  position relative;
  cursor pointer;
  color $color-65;
  font-size 12px;
  & input {
    display none;
  }
  & i {
    iStyles();
  }
  & span {
    padding-left 18px;
  }
  &:hover {
    color $color-base;
    & i {
      border-color $color-base;
    }
  }
  & input[type=checkbox]:checked + i {
    iCheckStyles();
  }
  &.disable-checkbox {
    position relative;
    cursor pointer;
    pointer-events none;
    color $color-C5;
    font-size 12px;
    & input {
      display none;
    }
    & i {
      iStyles();
      background-color $color-F5;
    }
    & span {
      padding-left 18px;
    }
  }
}


