$color-base = #316CCB
$color-white = #FFF
$color-orange = #FF7300
$color-red = #DE3331
$color-yellow = #F5A623
$color-yellow-light = #FFB017
$color-green = #77C225
$color-light-blue = #E3ECFD
$color-light-orange = #FEEFDB
$color-light-pink = #FBEAEA
$color-light-green = #F1F8E9

$color-35 = #353535
$color-65 = #656565
$color-95 = #959595
$color-C5 = #C5C5C5
$color-F1 = #F1F1F1
$color-E1 = #E1E1E1
$color-F5 = #F5F5F5
$color-FC = #FCFCFC

$color-base-hover = #407EF7
$color-orange-hover = #FF8F32
$color-red-hover = #E45B5A
$color-yellow-hover = #F7B74E
$color-green-hover = #92CE50


