.radio {
  position relative;
  font-size 12px;
  cursor pointer;
  color $color-65;
  & input {
    display none;
  }
  & i {
    position absolute;
    width 12px;
    height 12px;
    top 50%;
    margin-top -6px;
    left 0;
    b-border-radius(50%);
    border 1px solid $color-C5;
    b-box-sizing(border-box);
    &:before {
      content '';
      position absolute;
      width 6px;
      height 6px;
      background-color $color-base;
      b-border-radius(50%);
      top 50%;
      margin-top -3px;
      left 50%;
      margin-left -3px;
      opacity 0;
    }
  }
  & span {
    padding-left 18px;
  }
  &:hover {
    color $color-base;
    & i {
      border-color $color-base;
    }
  }
  & input[type = radio]:checked {
    & + i {
      border-color $color-base;
      &:before {
        opacity 1;
      }
    }
  }
}

.disable-radio {
  position relative;
  font-size 12px;
  pointer-events none;
  color $color-C5;
  & input {
    display none;
  }
  & i {
    position absolute;
    width 12px;
    height 12px;
    top 50%;
    margin-top -6px;
    left 0;
    b-border-radius(50%);
    background-color $color-F5;
    border 1px solid $color-C5;
    b-box-sizing(border-box);
  }
  & span {
    padding-left 18px;
  }
}