.tips {
  font-size 12px;
  color $color-95;
  & span{
    vertical-align middle;
  }
  & .tips-icon {
    position relative;
    display inline-block;
    width 13px;
    height 13px;
    background-repeat no-repeat;
    background-position -90px 0;
    background-image url("../css/widget/img/icon.png");
    cursor pointer;
  }
  & [data-msg]:hover:after, & [data-msg]:hover:before {
    display: block;
  }
  & [data-msg]:after, & [data-msg]:before {
    display: none;
    bottom 100%;
    left 50%;
    b-transform translateX(-50%);
    margin-bottom 10px;
  }
  & [data-msg]:after {
    content '';
    position absolute;
    width 0;
    height 0;
    border-width 6px 6px 0px 6px;
    border-color transparent;
    border-top-color $color-white;
    border-style solid;
  }
  & [data-msg]:before {
    content attr(data-msg);
    position absolute;
    color $color-65;
    font-size 12px;
    padding 12px 16px;
    background-color $color-white;
    b-box-shadow(0 0 16px 0 rgba(197, 197, 197, .5));
    white-space nowrap;
    margin-bottom 16px;
  }
  &.tips-right {
    & [data-msg]:after, & [data-msg]:before {
      bottom 50%;
      left 100%;
      b-transform translateY(50%);
      margin 0;
      margin-left 10px;
    }
    & [data-msg]:after {
      border-width 6px 6px 6px 0px;
      border-color transparent;
      border-right-color $color-white;
    }
    & [data-msg]:before {
      margin-left 16px;
    }
  }

  &.tips-bottom {
    & [data-msg]:after, & [data-msg]:before {
      bottom auto;
      top 100%;
      left 50%;
      b-transform translateX(-50%);
      margin-top 10px;
    }
    & [data-msg]:after {
      border-width 0px 6px 6px 6px;
      border-color transparent;
      border-bottom-color $color-white;
    }
    & [data-msg]:before {
      margin-top 16px;
    }
  }
}



.tips-mul {
  font-size 12px;
  color $color-95;
  display: inline-block;
  position relative;
  white-space nowrap;
  & span{
    vertical-align middle;
  }
  & .tips-icon {
    display: inline-block;
    width 13px;
    height 13px;
    background-repeat no-repeat;
    background-position -90px 0;
    background-image url("../css/widget/img/icon.png");
    cursor pointer;
  }
  &:hover .tips-msg {
    display: block;
  }
  & .tips-msg {
    display: none;
    position absolute;
    color $color-65;
    font-size 12px;
    padding 12px 16px;
    background-color $color-white;
    b-box-shadow(0 0 16px 0 rgba(197, 197, 197, .5));
    width 272px;
    top 100%;
    left 11px;
    margin-top 16px;
    &:after {
      content '';
      position absolute;
      width 0;
      height 0;
      border-width 0px 6px 6px 6px;
      border-color transparent;
      border-bottom-color $color-white;
      border-style solid;
      bottom 100%;
      left 65px;
      margin-left -6px;
    }
    & p {
      line-height 20px;
      b-word-hidden();
      & .tips-msg-title {
        color $color-95;
      }
    }
  }
  &.tips-mul-left {
    & .tips-msg {
      top 0;
      left 100%;
      margin-left 16px;
      margin-top -16px;
      &:after {
        border-width 6px 6px 6px 0px;
        border-color transparent;
        border-right-color $color-white;
        right 100%;
        top 16px;
        left 0px;
        margin-left -6px;
      }
    }
  }
}
