/*border styles*/
.border-transparent {
  border: 15px solid rgba(255,255,255,0.5);
  background-clip: padding-box;
}
.border-mul-outline {
  border: 5px solid #fb3;
  outline: 5px solid #58a;
}
.border-mul-shadow {
  border: 5px solid #fb3;
  -ms-box-shadow: 0 0 0 5px #58a, 0 0 0 10px #fb3;
  -webkit-box-shadow: 0 0 0 5px #58a, 0 0 0 10px #fb3;
  -moz-box-shadow: 0 0 0 5px #58a, 0 0 0 10px #fb3;
  box-shadow: 0 0 0 5px #58a, 0 0 0 10px #fb3;
}
.border-mul-outline-radius {
  border: 5px solid #fb3;
  outline: 5px solid #58a;
  -ms-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.border-oval {
  background-color: #fb3;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.border-oval-2 {
  background-color: #fb3;
  -ms-border-radius: 100% 0 0 100%/50%;
  -webkit-border-radius: 100% 0 0 100%/50%;
  -moz-border-radius: 100% 0 0 100%/50%;
  border-radius: 100% 0 0 100%/50%;
}
.border-oval-4 {
  background-color: #fb3;
  -ms-border-radius: 100% 0% 0% 0%;
  -webkit-border-radius: 100% 0% 0% 0%;
  -moz-border-radius: 100% 0% 0% 0%;
  border-radius: 100% 0% 0% 0%;
}
.border-s-1 {
  width: 100px;
  height: 50px;
  background-color: #58a;
  -ms-border-radius: 50%/100%;
  -webkit-border-radius: 50%/100%;
  -moz-border-radius: 50%/100%;
  border-radius: 50%/100%;
}
.border-s-2 {
  width: 100px;
  height: 50px;
  background-color: #58a;
  -ms-border-radius: 10%/50%;
  -webkit-border-radius: 10%/50%;
  -moz-border-radius: 10%/50%;
  border-radius: 10%/50%;
}
.border-s-3 {
  width: 100px;
  height: 50px;
  background-color: #58a;
  -ms-border-radius: 10% 50%/100%;
  -webkit-border-radius: 10% 50%/100%;
  -moz-border-radius: 10% 50%/100%;
  border-radius: 10% 50%/100%;
}
.border-s-4 {
  width: 100px;
  height: 50px;
  background-color: #58a;
  -ms-border-radius: 100% 10% 10% 10%;
  -webkit-border-radius: 100% 10% 10% 10%;
  -moz-border-radius: 100% 10% 10% 10%;
  border-radius: 100% 10% 10% 10%;
}
.border-s-5 {
  width: 100px;
  height: 50px;
  background-color: #58a;
  -ms-border-radius: 40% 40% 20% 20%/100% 100% 50% 50%;
  -webkit-border-radius: 40% 40% 20% 20%/100% 100% 50% 50%;
  -moz-border-radius: 40% 40% 20% 20%/100% 100% 50% 50%;
  border-radius: 40% 40% 20% 20%/100% 100% 50% 50%;
}
.border-img-1 {
  background-color: #58a;
  background-clip: padding-box;
  border-style: solid;
  border-width: 20px;
  border-image: url("../css/feature/img/border-image.png");
  border-image-slice: 60;
}
.border-img-2 {
  background-color: #58a;
  background-clip: padding-box;
  border-style: solid;
  border-width: 20px;
  border-image: url("../css/feature/img/border-image.png");
  border-image-slice: 60 fill;
}
.border-img-3 {
  background-color: #58a;
  background-clip: padding-box;
  border-style: solid;
  border-width: 20px;
  border-image: url("../css/feature/img/border-image.png");
  border-image-slice: 60;
  border-image-outset: 10px;
}
.border-img-4 {
  background-color: #58a;
  background-clip: padding-box;
  border-style: solid;
  border-width: 20px;
  border-image: url("../css/feature/img/border-image.png");
  border-image-slice: 60;
  border-image-outset: 10px;
  border-image-repeat: repeat;
}
.border-img-5 {
  background-color: #58a;
  background-clip: padding-box;
  border-style: solid;
  border-width: 20px;
  border-image: url("../css/feature/img/border-image.png") 60/20px/10px round;
}
/*background styles*/
.bg-abbreviated {
  width: 500px;
  background: url("../css/feature/img/border-bg.jpg") padding-box 0% 0%/60px 60px no-repeat, url("../css/feature/img/border-bg.jpg") 40px 10px/110px 110px no-repeat content-box, url("../css/feature/img/border-bg.jpg") 140px 40px/200px 100px no-repeat content-box #58a;
}
.bg-position {
  width: 500px;
  border: 1px solid;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: 200px 130px;
  background-repeat: no-repeat;
  background-position: right 20px bottom 30px;
}
.bg-size {
  border: 1px solid;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-size2 {
  border: 1px solid;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.bg-repeat {
  border: 1px solid;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: 100px 50px;
  background-repeat: repeat-y;
}
.bg-repeat2 {
  border: 1px solid;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: 50px 50px;
  background-repeat: space;
}
.bg-origin {
  border: 10px solid #58a;
  padding: 20px;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: 120px 100px;
  background-repeat: no-repeat;
  background-position: 10px 20px;
}
.bg-origin1 {
  background-origin: border-box;
}
.bg-origin2 {
  background-origin: content-box;
}
.bg-clip {
  border: 10px dashed #fb3;
  background-color: #58a;
  padding: 30px;
  background-image: url("../css/feature/img/border-bg.jpg");
  background-size: 120px 100px;
  background-repeat: no-repeat;
  background-origin: border-box;
}
.bg-clip1 {
  background-clip: padding-box;
}
.bg-clip2 {
  background-clip: content-box;
}
.bg-gradient {
  background: linear-gradient(#58a, #fb3);
}
.bg-gradient1 {
  background: linear-gradient(45deg, #58a, #fb3);
}
.bg-gradient2 {
  background: linear-gradient(to right, #58a 20%, #fb3 60%);
}
.bg-gradient3 {
  background: linear-gradient(#58a 50%, #fb3 50%);
}
.bg-gradient4 {
  background: linear-gradient(#58a 33%, #fb3 33%, #fb3 66%, #e45b5a 66%);
}
.bg-gradient5 {
  background: linear-gradient(#58a 40%, #fb3 0);
}
.bg-gradient6 {
  background: linear-gradient(#58a 50%, #fb3 0);
  background-size: 100% 40px;
}
.bg-gradient7 {
  background: linear-gradient(to right, #58a 33%, #fb3 0, #fb3 66%, #e45b5a 0);
  background-size: 50px 100%;
}
.bg-gradient8 {
  background: linear-gradient(45deg, #58a 50%, #fb3 0);
}
.bg-gradient9 {
  background: linear-gradient(45deg, #58a 50%, #fb3 0);
  background-size: 50px 50px;
}
.bg-gradient10 {
  background: linear-gradient(45deg, #58a 25%, #fb3 0, #fb3 50%, #58a 0, #58a 75%, #fb3 0);
}
.bg-gradient11 {
  background: linear-gradient(45deg, #58a 25%, #fb3 0, #fb3 50%, #58a 0, #58a 75%, #fb3 0);
  background-size: 50px 50px;
}
.bg-gradient12 {
  background: linear-gradient(30deg, #58a 25%, #fb3 0, #fb3 50%, #58a 0, #58a 75%, #fb3 0);
  background-size: 50px 50px;
}
.bg-gradient13 {
  background: repeating-linear-gradient(45deg, #58a, #58a 10px, #fb3 0, #fb3 20px);
}
.bg-gradient14 {
  background: repeating-linear-gradient(70deg, #58a, #58a 15px, #fb3 0, #fb3 30px, #e45b5a 0, #e45b5a 45px);
}
.bg-gradient15 {
  background: repeating-linear-gradient(30deg, #58a, #58a 20px, #fb3 0, #fb3 40px);
}
.bg-gradient16 {
  background: linear-gradient(#fb3 20%, #58a 80%);
}
.bg-gradient17 {
  background: linear-gradient(0, rgba(200,0,0,0.5) 50%, transparent 0), linear-gradient(90deg, rgba(200,0,0,0.5) 50%, transparent 0);
  background-size: 20px;
}
.bg-gradient18 {
  background: linear-gradient(0, rgba(200,0,0,0.5) 1px, transparent 0), linear-gradient(90deg, rgba(200,0,0,0.5) 1px, transparent 0);
  background-size: 20px;
}
.bg-gradient19 {
  background: linear-gradient(0, #fff 1px, transparent 0), linear-gradient(90deg, #fff 1px, transparent 0), linear-gradient(0, #fff 4px, transparent 0), linear-gradient(90deg, #fff 4px, transparent 0), #58a;
  background-size: 20px, 20px, 40px, 40px;
}
.bg-gradient20 {
  background: linear-gradient(-125deg, #fff 15px, #58a 0);
}
.bg-gradient21 {
  background: linear-gradient(125deg, #fff 15px, #58a 0), linear-gradient(-125deg, #fff 15px, #58a 0);
  background-size: 50% 100%;
  background-position: left, right;
  background-repeat: no-repeat;
}
.bg-gradient22 {
  background: linear-gradient(125deg, #fff 15px, #58a 0), linear-gradient(-125deg, #fff 15px, #58a 0), linear-gradient(45deg, #fff 15px, #58a 0), linear-gradient(-45deg, #fff 15px, #58a 0);
  background-size: 50% 50%;
  background-position: top left, top right, bottom left, bottom right;
  background-repeat: no-repeat;
}
.bg-gradient23 {
  background: radial-gradient(#58a, #fb3);
}
.bg-gradient24 {
  background: radial-gradient(50px, #58a, #fb3);
}
.bg-gradient25 {
  background: radial-gradient(70px, #58a, #fb3, #e45b5a);
}
.bg-gradient26 {
  background: radial-gradient(ellipse 50px 70px, #58a, #fb3);
}
.bg-gradient27 {
  background: radial-gradient(ellipse 50px 70px at left top, #58a, #fb3);
}
.bg-gradient28 {
  background: radial-gradient(ellipse 50px 70px at 60px bottom, #58a, #fb3);
}
.bg-gradient29 {
  border: 1px solid #f5f5f5;
  background: radial-gradient(rgba(200,0,0,0.5) 30%, transparent 0);
  background-size: 40px;
}
.bg-gradient30 {
  background: radial-gradient(rgba(200,0,0,0.5) 30%, transparent 0), radial-gradient(rgba(200,0,0,0.5) 30%, transparent 0);
  background-size: 40px;
  background-position: 0 0, 20px 20px;
}
.bg-gradient31 {
  background: repeating-radial-gradient(rgba(200,0,0,0.5) 0, rgba(200,0,0,0.5) 20px, transparent 0, transparent 40px);
}
