@import "base/methods.styl"; //公用方法
@import "base/color.styl"; //颜色

/*button styles*/
@import "widget/button.styl";

/*radio styles*/
@import "widget/radio.styl";

/*checkbox styles*/
@import "widget/checkbox.styl";

/* text input box styles*/
@import "widget/input.styl";

/* dropdown menu styles*/
@import "widget/dropdown.styl";

/* tips styles*/
@import "widget/tips.styl";

/* popover styles*/
@import "widget/popover.styl";

/* table styles*/
@import "widget/table.styl";

/* pagination styles*/
@import "widget/pagination.styl";

/* progress styles*/
@import "widget/progress.styl";

/* tabs styles*/
@import "widget/tabs.styl";
