/*button styles*/
.btn {
  display: inline-block;
  line-height: 1;
  color: #fff;
  background-color: #316ccb;
  font-size: 12px;
  padding: 10px 18px;
  cursor: pointer;
  white-space: nowrap;
  border: none;
}
.btn:hover {
  color: #fff;
  background-color: #407ef7;
}
.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
.btn.btn-lg {
  font-size: 14px;
  padding: 13px 24px;
}
.btn.btn-sm {
  padding: 6px 12px;
}
.btn.btn-hollow {
  -ms-box-shadow: 0 0 0 1px #316ccb;
  -webkit-box-shadow: 0 0 0 1px #316ccb;
  -moz-box-shadow: 0 0 0 1px #316ccb;
  box-shadow: 0 0 0 1px #316ccb;
  background-color: #fff;
  color: #316ccb;
}
.btn.btn-hollow:hover {
  color: #fff;
  -ms-box-shadow: 0 0 0 1px transparent;
  -webkit-box-shadow: 0 0 0 1px transparent;
  -moz-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
  background-color: #316ccb;
}
.btn.btn-forbidden {
  color: #c5c5c5;
  background-color: #f5f5f5;
  pointer-events: none;
}
.btn.btn-icon {
  font-size: 14px;
  padding: 12px 24px;
}
.btn.btn-icon i,
.btn.btn-icon .btn-icon-i {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../css/widget/img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 -40px;
}
.btn.btn-icon span,
.btn.btn-icon .btn-icon-text {
  vertical-align: middle;
  margin-left: 6px;
}
.btn.btn-hollow-icon {
  -ms-box-shadow: 0 0 0 1px #316ccb;
  -webkit-box-shadow: 0 0 0 1px #316ccb;
  -moz-box-shadow: 0 0 0 1px #316ccb;
  box-shadow: 0 0 0 1px #316ccb;
  background-color: #fff;
  color: #316ccb;
  font-size: 14px;
  padding: 12px 24px;
}
.btn.btn-hollow-icon i,
.btn.btn-hollow-icon .btn-icon-i {
  vertical-align: middle;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../css/widget/img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 -20px;
}
.btn.btn-hollow-icon span,
.btn.btn-hollow-icon .btn-icon-text {
  vertical-align: middle;
  margin-left: 6px;
}
.btn.btn-hollow-icon:hover {
  color: #fff;
  -ms-box-shadow: 0 0 0 1px transparent;
  -webkit-box-shadow: 0 0 0 1px transparent;
  -moz-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
  background-color: #316ccb;
}
.btn.btn-hollow-icon:hover i,
.btn.btn-hollow-icon:hover .btn-icon-i {
  background-position: 0 -40px;
}
/*radio styles*/
.radio {
  position: relative;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  color: #656565;
}
.radio input {
  display: none;
}
.radio i,
.radio .radio-icon {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 0;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #c5c5c5;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.radio i:before,
.radio .radio-icon:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #316ccb;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -3px;
  opacity: 0;
}
.radio span,
.radio .radio-text {
  padding-left: 18px;
}
.radio:hover {
  color: #316ccb;
}
.radio:hover i {
  border-color: #316ccb;
}
.radio input[type = radio]:checked + i {
  border-color: #316ccb;
}
.radio input[type = radio]:checked + i:before {
  opacity: 1;
}
.radio.disable-radio {
  position: relative;
  font-size: 12px;
  pointer-events: none;
  color: #c5c5c5;
}
.radio.disable-radio input {
  display: none;
}
.radio.disable-radio i {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 0;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #f5f5f5;
  border: 1px solid #c5c5c5;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.radio.disable-radio span {
  padding-left: 18px;
}
/*checkbox styles*/
.checkbox {
  position: relative;
  cursor: pointer;
  color: #656565;
  font-size: 12px;
}
.checkbox input {
  display: none;
}
.checkbox i {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 0;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox span {
  padding-left: 18px;
}
.checkbox:hover {
  color: #316ccb;
}
.checkbox:hover i {
  border-color: #316ccb;
}
.checkbox input[type=checkbox]:checked + i {
  background-color: #316ccb;
  border-color: #316ccb;
  background-image: url("../css/widget/img/icon.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: content-box;
  padding: 2px 1px;
}
.checkbox.disable-checkbox {
  position: relative;
  cursor: pointer;
  pointer-events: none;
  color: #c5c5c5;
  font-size: 12px;
}
.checkbox.disable-checkbox input {
  display: none;
}
.checkbox.disable-checkbox i {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  margin-top: -6px;
  left: 0;
  background-color: #fff;
  border: 1px solid #c5c5c5;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.checkbox.disable-checkbox span {
  padding-left: 18px;
}
/* text input box styles*/
input[placeholder] {
  color: #c5c5c5;
}
input::-moz-placeholder {
  color: #c5c5c5;
}
input:-ms-input-placeholder {
  color: #c5c5c5;
}
input::-webkit-input-placeholder {
  color: #c5c5c5;
}
.input-widgets .input-text {
  color: #656565;
}
.input-text {
  width: 196px;
  height: 32px;
  padding: 0 12px;
  font-size: 12px;
  font-weight: 300;
  outline: none;
  border: 1px solid #e1e1e1;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.input-text:focus {
  border-color: #316ccb;
}
.input-text-lg {
  width: 240px;
  height: 40px;
  padding: 0 16px;
}
.input-text-sm {
  width: 152px;
  height: 24px;
  padding: 0 8px;
}
.wrong-input:focus {
  border-color: #ff7300;
}
.wrong-input + span {
  color: #ff7300;
  font-size: 12px;
  padding-left: 12px;
}
.disable-input-text {
  pointer-events: none;
  color: #e5e5e5;
  background-color: #fcfcfc;
}
.disable-input-text:focus {
  border-color: #e1e1e1;
}
/* dropdown menu styles*/
.dropdown {
  position: relative;
  display: inline-block;
  width: 196px;
  height: 32px;
  line-height: 32px;
}
.dropdown .dropdown-btn {
  position: absolute;
  line-height: 30px;
  z-index: 2;
  width: 100%;
  padding: 0 16px;
  font-size: 12px;
  border: 1px solid #e1e1e1;
  background-color: #fff;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dropdown .dropdown-btn span {
  color: #c5c5c5;
  vertical-align: middle;
}
.dropdown .dropdown-btn i {
  position: absolute;
  right: 12px;
  top: 50%;
  margin-top: -2px;
  display: inline-block;
  width: 7px;
  height: 4px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url("../css/widget/img/icon.png");
  background-position: -15px 0;
}
.dropdown .dropdown-btn .active {
  color: #656565;
}
.dropdown .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 32px;
  width: 100%;
  padding: 12px 0;
  -ms-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -webkit-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -moz-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
}
.dropdown .dropdown-menu ul li {
  color: #959595;
  font-size: 12px;
  padding: 0 12px;
  cursor: pointer;
}
.dropdown .dropdown-menu ul li:hover {
  color: #316ccb;
  background-color: #f5f5f5;
}
.dropdown .dropdown-menu ul .active {
  color: #316ccb;
  background-color: #f5f5f5;
}
.dropdown.dropdown-lg {
  width: 240px;
  height: 40px;
  line-height: 40px;
}
.dropdown.dropdown-lg .dropdown-btn {
  line-height: 38px;
  background-position: 217px center;
  padding-left: 16px;
}
.dropdown.dropdown-lg .dropdown-btn i {
  right: 16px;
}
.dropdown.dropdown-lg .dropdown-menu {
  top: 40px;
}
.dropdown.dropdown-lg .dropdown-menu ul li {
  padding: 0 16px;
}
.dropdown.dropdown-sm {
  width: 152px;
  height: 24px;
  line-height: 24px;
}
.dropdown.dropdown-sm .dropdown-btn {
  line-height: 22px;
  background-position: 137px center;
}
.dropdown.dropdown-sm .dropdown-btn i {
  right: 8px;
}
.dropdown.dropdown-sm .dropdown-menu {
  top: 24px;
}
.dropdown.dropdown-open .dropdown-btn {
  border-color: #316ccb;
}
.dropdown.dropdown-open .dropdown-btn i {
  background-position: -30px 0;
}
.dropdown.dropdown-open .dropdown-menu {
  display: block;
}
/* tips styles*/
.tips {
  font-size: 12px;
  color: #959595;
}
.tips span {
  vertical-align: middle;
}
.tips .tips-icon {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: -90px 0;
  background-image: url("../css/widget/img/icon.png");
  cursor: pointer;
}
.tips [data-msg]:hover:after,
.tips [data-msg]:hover:before {
  display: block;
}
.tips [data-msg]:after,
.tips [data-msg]:before {
  display: none;
  bottom: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-bottom: 10px;
}
.tips [data-msg]:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 6px 6px 0px 6px;
  border-color: transparent;
  border-top-color: #fff;
  border-style: solid;
}
.tips [data-msg]:before {
  content: attr(data-msg);
  position: absolute;
  color: #656565;
  font-size: 12px;
  padding: 12px 16px;
  background-color: #fff;
  -ms-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -webkit-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -moz-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  white-space: nowrap;
  margin-bottom: 16px;
}
.tips.tips-right [data-msg]:after,
.tips.tips-right [data-msg]:before {
  bottom: 50%;
  left: 100%;
  -ms-transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  transform: translateY(50%);
  margin: 0;
  margin-left: 10px;
}
.tips.tips-right [data-msg]:after {
  border-width: 6px 6px 6px 0px;
  border-color: transparent;
  border-right-color: #fff;
}
.tips.tips-right [data-msg]:before {
  margin-left: 16px;
}
.tips.tips-bottom [data-msg]:after,
.tips.tips-bottom [data-msg]:before {
  bottom: auto;
  top: 100%;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 10px;
}
.tips.tips-bottom [data-msg]:after {
  border-width: 0px 6px 6px 6px;
  border-color: transparent;
  border-bottom-color: #fff;
}
.tips.tips-bottom [data-msg]:before {
  margin-top: 16px;
}
.tips-mul {
  font-size: 12px;
  color: #959595;
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.tips-mul span {
  vertical-align: middle;
}
.tips-mul .tips-icon {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: -90px 0;
  background-image: url("../css/widget/img/icon.png");
  cursor: pointer;
}
.tips-mul:hover .tips-msg {
  display: block;
}
.tips-mul .tips-msg {
  display: none;
  position: absolute;
  color: #656565;
  font-size: 12px;
  padding: 12px 16px;
  background-color: #fff;
  -ms-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -webkit-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -moz-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  width: 272px;
  top: 100%;
  left: 11px;
  margin-top: 16px;
}
.tips-mul .tips-msg:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: 0px 6px 6px 6px;
  border-color: transparent;
  border-bottom-color: #fff;
  border-style: solid;
  bottom: 100%;
  left: 65px;
  margin-left: -6px;
}
.tips-mul .tips-msg p {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.tips-mul .tips-msg p .tips-msg-title {
  color: #959595;
}
.tips-mul.tips-mul-left .tips-msg {
  top: 0;
  left: 100%;
  margin-left: 16px;
  margin-top: -16px;
}
.tips-mul.tips-mul-left .tips-msg:after {
  border-width: 6px 6px 6px 0px;
  border-color: transparent;
  border-right-color: #fff;
  right: 100%;
  top: 16px;
  left: 0px;
  margin-left: -6px;
}
/* popover styles*/
.popover {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(53,53,53,0.4);
}
.popover .popover-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  margin: 0 auto;
  background-color: #fff;
  margin-left: -225px;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-bottom: 32px;
  -ms-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -webkit-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  -moz-box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
  box-shadow: 0 0 16px 0 rgba(197,197,197,0.5);
}
.popover .popover-container .popover-close {
  position: absolute;
  width: 14px;
  height: 14px;
  right: 32px;
  top: 17px;
  background-image: url("../css/widget/img/icon.png");
  background-position: -50px 0;
  background-repeat: no-repeat;
  cursor: pointer;
}
.popover .popover-container .popover-title {
  color: #656565;
  font-size: 14px;
  padding: 17px 46px;
  border-bottom: 1px solid #f1f1f1;
}
.popover .popover-container .popover-content {
  padding: 20px 32px 48px;
}
.popover .popover-container .btn-group {
  text-align: center;
}
.popover .popover-container .btn-group .btn-line {
  margin-right: 16px;
}
.popover-msg .popover-container {
  height: 240px;
}
.popover-msg .popover-container .popover-title {
  padding: 48px 48px 16px 48px;
  line-height: 32px;
  border: none;
  font-size: 18px;
}
.popover-msg .popover-container .popover-title span,
.popover-msg .popover-container .popover-title i {
  vertical-align: middle;
}
.popover-msg .popover-container .popover-title i {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding-right: 16px;
  background-image: url("../css/widget/img/icon.png");
  background-repeat: no-repeat;
  background-position: 0px -65px;
}
.popover-msg .popover-container .popover-content {
  padding: 16px 48px 32px 96px;
  font-size: 12px;
  color: #959595;
}
/* table styles*/
table {
  border: 1px solid #e5e5e5;
  border-collapse: collapse;
  color: #656565;
  font-size: 12px;
}
table th {
  background-color: #f6f6f6;
  text-align: left;
}
table th,
table td {
  border: 1px solid #e5e5e5;
  padding: 18px 24px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
table .th-c {
  text-align: center;
}
.tight-table th {
  width: 96px;
}
.tight-table th,
.tight-table td {
  padding: 10px 12px;
}
.tightest-table th {
  width: 96px;
}
.tightest-table th,
.tightest-table td {
  padding: 3px 12px;
}
/* pagination styles*/
.pagination {
  height: 32px;
  margin-left: -12px;
  font-size: 12px;
  line-height: 32px;
  color: #959595;
}
.pagination ul {
  float: left;
  padding-right: 40px;
}
.pagination ul .page-item {
  float: left;
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin-left: 12px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  text-align: center;
  cursor: pointer;
}
.pagination ul .page-item a {
  color: #959595;
}
.pagination ul .page-item:hover {
  background-color: #fff;
  border: 1px solid #316ccb;
}
.pagination ul .page-item:hover a {
  color: #316ccb;
}
.pagination ul .page-item:first-child,
.pagination ul .page-item:last-child {
  position: relative;
}
.pagination ul .page-item:first-child:after,
.pagination ul .page-item:last-child:after {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid transparent;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 50%;
  margin-top: -3px;
  left: 50%;
  margin-left: -6px;
}
.pagination ul .page-item:first-child:after {
  margin-left: -3px;
  border-color: transparent transparent #656565 #656565;
}
.pagination ul .page-item:first-child:hover:after {
  border-color: transparent transparent #316ccb #316ccb;
}
.pagination ul .page-item:last-child:after {
  border-color: #656565 #656565 transparent transparent;
}
.pagination ul .page-item:last-child:hover:after {
  border-color: #316ccb #316ccb transparent transparent;
}
.pagination ul .active {
  background-color: #fff;
  border: 1px solid #316ccb;
}
.pagination ul .active a {
  color: #316ccb;
}
.pagination ul .disabled {
  pointer-events: none;
}
.pagination ul .disabled:first-child:after {
  border-color: transparent transparent #e5e5e5 #e5e5e5;
}
.pagination ul .disabled:last-child:after {
  border-color: #e5e5e5 #e5e5e5 transparent transparent;
}
.pagination input {
  outline: none;
  border: none;
  width: 72px;
  height: 32px;
  padding: 0 5px;
  margin: 0 8px;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination .page-btn {
  width: 60px;
  height: 32px;
  display: inline-block;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  margin-left: 24px;
}
.pagination .page-btn:hover {
  color: #fff;
  background-color: #316ccb;
  border-color: transparent;
}
.pagination-root ul .page-item {
  background-color: #f5f5f5;
}
.pagination-root ul .active {
  background-color: #fff;
}
.pagination-root input {
  border: 1px solid #e1e1e1;
}
/* progress styles*/
.progress {
  counter-reset: index;
}
.progress .progress-item {
  display: inline-block;
  width: 100px;
  height: 4px;
  background-color: #d7e6fd;
  position: relative;
}
.progress .progress-item:before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #d7e6fd;
  -ms-border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  top: 50%;
  margin-top: -6px;
  left: 0;
  margin-left: -8px;
  font-size: 12px;
  text-align: center;
}
.progress .progress-item .progress-item-line {
  width: 0;
  height: 100%;
  background-color: #d7e6fd;
  -ms-border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.progress .progress-item .progress-item-text {
  position: absolute;
  font-size: 14px;
  color: #656565;
  left: 0;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 10px;
  white-space: nowrap;
}
.progress .progress-item:nth-child(2n+1):before {
  content: counter(index);
  counter-increment: index;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  margin-top: -8px;
  margin-left: -8px;
}
.progress .progress-item:nth-child(2n+1) .progress-item-text {
  top: 100%;
  margin-top: 12px;
}
.progress .progress-item:last-child {
  width: 0;
}
.progress .progress-item:last-child:before {
  width: 16px;
  height: 16px;
  margin-top: -8px;
  margin-left: -8px;
  background-image: url("../css/widget/img/icon.png");
  background-repeat: no-repeat;
  background-position: -80px 0;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 5px;
  background-origin: content-box;
}
.progress .progress-item:last-child .progress-item-text {
  top: 100%;
  margin-top: 12px;
}
.progress .progress-pass:before {
  background-color: #316ccb;
}
.progress .progress-pass .progress-item-line {
  background-color: #316ccb;
}
.progress .progress-pass .progress-item-text {
  color: #316ccb;
}
/* tabs styles*/
.tabs {
  display: inline-block;
}
.tabs ul {
  overflow: hidden;
}
.tabs ul li {
  float: left;
  font-size: 14px;
  text-align: center;
  background-color: #fcfcfc;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 24px;
  line-height: 14px;
  font-weight: 300;
}
.tabs ul li a {
  color: #353535;
}
.tabs ul li:hover a {
  color: #316ccb;
}
.tabs ul .active {
  font-weight: 400;
  border-top: 2px solid #316ccb;
  background-color: #fff;
}
.tabs ul .active a {
  color: #316ccb;
}
.tabs-sm ul li {
  font-size: 12px;
  padding: 10px 12px;
  line-height: 12px;
}
.tabs-sm ul li a {
  color: #353535;
}
.tabs-sm ul li:hover a {
  color: #316ccb;
}
