.border-transparent {
  border 15px solid rgba(255, 255, 255, 0.5);
  background-clip padding-box;
}

.border-mul-outline {
  border 5px solid $color-FB3;
  outline 5px solid $color-58A;
}

.border-mul-shadow {
  border 5px solid $color-FB3;
  b-box-shadow 0 0 0 5px $color-58A, 0 0 0 10px $color-FB3;
}

.border-mul-outline-radius {
  border 5px solid $color-FB3;
  outline 5px solid $color-58A;
  b-border-radius(10px);
}

.border-oval {
  background-color $color-FB3;
  b-border-radius(50%);
}

.border-oval-2 {
  background-color $color-FB3;
  b-border-radius 100% 0 0 100% / 50%;
}

.border-oval-4 {
  background-color $color-FB3;
  b-border-radius 100% 0% 0% 0%;
}

.border-s-1 {
  width 100px;
  height 50px;
  background-color $color-58A;
  b-border-radius 50% / 100%;
}

.border-s-2 {
  width 100px;
  height 50px;
  background-color $color-58A;
  b-border-radius 10% / 50%;
}

.border-s-3 {
  width 100px;
  height 50px;
  background-color $color-58A;
  b-border-radius 10% 50% / 100%;
}

.border-s-4 {
  width 100px;
  height 50px;
  background-color $color-58A;
  b-border-radius 100% 10% 10% 10%;
}

.border-s-5 {
  width 100px;
  height 50px;
  background-color $color-58A;
  b-border-radius 40% 40% 20% 20% / 100% 100% 50% 50%;
}

.border-img-1 {
  background-color $color-58A;
  background-clip padding-box;
  border-style solid;
  border-width 20px;
  border-image url("../css/feature/img/border-image.png");
  border-image-slice 60;
}

.border-img-2 {
  background-color $color-58A;
  background-clip padding-box;
  border-style solid;
  border-width 20px;
  border-image url("../css/feature/img/border-image.png");
  border-image-slice 60 fill;
}

.border-img-3 {
  background-color $color-58A;
  background-clip padding-box;
  border-style solid;
  border-width 20px;
  border-image url("../css/feature/img/border-image.png");
  border-image-slice 60;
  border-image-outset 10px;
}

.border-img-4 {
  background-color $color-58A;
  background-clip padding-box;
  border-style solid;
  border-width 20px;
  border-image url("../css/feature/img/border-image.png");
  border-image-slice 60;
  border-image-outset 10px;
  border-image-repeat repeat;
}

.border-img-5 {
  background-color $color-58A;
  background-clip padding-box;
  border-style solid;
  border-width 20px;
  border-image url("../css/feature/img/border-image.png") 60 / 20px / 10px round;
}